<div fxLayout="row" fxLayoutAlign="center">
  <mat-form-field fxFlex="30" style="margin-top: 3rem; margin-bottom: 2rem;" >
    <mat-label>Selecciona una opcion</mat-label>
    <mat-select [formControl]="optionValue">
      <mat-option *ngFor="let item of this.dataSelect" [value]="item">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner *ngIf="!this.loading"></mat-spinner>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card *ngIf="this.findPlanet && this.loading" fxFlex="30" >
    <mat-card-header>
      <mat-card-title>{{this.findPlanet.name}}</mat-card-title>
      <mat-card-subtitle>Terreno: {{this.findPlanet.terrain}}</mat-card-subtitle>
      <mat-card-subtitle>Poblacion: {{this.findPlanet.population}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
