<nav mat-tab-nav-bar mat-stretch-tabs [backgroundColor]="'warn'">
    <a mat-tab-link *ngFor="let item of this.links" [routerLink]="item.path" routerLinkActive="activeLink" >{{item.name}}</a>
</nav>
<router-outlet></router-outlet>

