<div fxLayout="row" fxLayoutAlign="center">
  <mat-form-field class="example-form-field" fxFlex="30" style="margin-top: 3rem; margin-bottom: 2rem;" >
    <mat-label>Ingrese la edad</mat-label>
    <input type="number" matInput min="1" [formControl]="this.value" placeholder="Ingrese la edad">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="this.value.reset();">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>


<div fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner *ngIf="!this.loading"></mat-spinner>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
<mat-card *ngIf="this.user && this.loading"  fxFlex="30"  >
  <mat-card-header>
    <img mat-card-avatar [src]="this.user.picture.thumbnail" alt="">
    <mat-card-title>{{this.user.name.first + ' ' + this.user.name.last}}</mat-card-title>
    <mat-card-subtitle>Age: {{this.user.dob.age}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
</div>
