<h1 *ngIf="this.data" style="text-align: center;">
  {{this.data.allNames}}
</h1>
<div fxLayout="row" fxLayoutAlign="center">
  <ol *ngIf="this.data" fxFlex="30" style="margin-left: 3rem;" >
    <li *ngFor="let item of this.data.ordered">{{item.chart + ': ' + item.count}}</li>
  </ol>
  <div fxFlex="70">
    <div fxLayout="row" fxLayoutAlign="start">
      <div fxFlex="50" style="margin-top: 1rem;" *ngIf="this.data">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-card *ngFor="let item of this.data.user" fxFlex="100">
            <mat-card-header>
              <img mat-card-avatar [src]="item.picture.thumbnail" alt="">
              <mat-card-title>{{item.name.first}}</mat-card-title>
              <mat-card-subtitle>{{item.name.last}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
