<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex="50" style="margin-top: 3rem;" >
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <mat-card *ngFor="let item of this.listUser" fxFlex="100">
        <mat-card-header>
          <img mat-card-avatar [src]="item.picture.thumbnail" alt="">
          <mat-card-title>{{item.name.first}}</mat-card-title>
          <mat-card-subtitle>{{item.name.last}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
